html {
  box-sizing: border-box;
  color: #343a40;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  /* background-color: #d0ebff;
  background-color: #e7f5ff; */
  background-color: #a5d8ff;
}

.contacts-container {
  background-color: #fff;
  display: grid;
  grid-template-rows: 0.18fr 1.82fr;
}

.message-container {
  background-color: #fff;
  display: grid;
  grid-template-rows: 0.18fr 1.69fr 0.13fr;
}
