html {
  box-sizing: border-box;
  color: #343a40;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.contacts-container {
  /* background-color: orangered; */
  display: grid;
  grid-template-rows: 0.15fr 1.85fr;
}

.message-container {
  background-color: grey;
  display: grid;
  grid-template-rows: 0.15fr 1.72fr 0.13fr;
}

.search-message-field {
  background-color: blueviolet;
}

.messages-field {
  background-color: antiquewhite;
}

.message-input {
  background-color: brown;
}

/* .contacts-container {
} */
